@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg-color : #45bea4;
    --content-color : #fff;
    --font-color: #555555;
}

*{
    font-family: 'poppins';
}