@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --bg-color: #0067b8;
  --content-color: #fff;
  --font-color: #555555;
}

* {
  font-family: "poppins";
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
