.mat-mdc-table{
    box-shadow: none;
    font-family: poppins;
    outline: solid 1px rgb(150,150,150);
}

mat-icon{
    padding: 5px 10px;
    margin: 0 5px;
    background: var(--bg-color);
    color: var(--content-color);
    border-radius: 5px;
    cursor: pointer;
}
.mat-column-editDelete{
    width: 13%;
    text-align: center;
}
th{
    background: var(--bg-color) !important;
    color: var(--content-color) !important;
}

table{
    margin-top: 20px;
}