
.buttons{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    .cancel{
        padding: 12px 0;
        width: 125px;
        border: none;
        background: var(--content-color);
        color: var(--bg-color);
        outline: 1px solid var(--bg-color);
        cursor: pointer;
    }
    .delete{
        padding: 12px 0;
        width: 125px;
        border: none;
        background: var(--bg-color);
        color: var(--content-color);
        cursor: pointer;
        border: 0;
    }
}